{% extends "layout.html" %} 
{% block title %} Job Search {% endblock %}

{% block content %}
<div style="--d: flex; --fd:column">
    <h1>Welcome to JobSearch!</h1> 
    <p>Find your dream job with ease. JobSearch is a comprehensive platform designed to connect job seekers like you with exciting career opportunities.</p>

    <p>Whether you're a seasoned professional or just starting your career, JobSearch provides a wide range of job listings in various industries and locations. Discover new possibilities and take the next step towards your professional goals.</p>

    <p>With JobSearch, you can explore job openings, submit applications, and connect with potential employers all in one place. Our user-friendly interface and powerful search features make it simple to find the perfect job that matches your skills and interests.</p>
</div>

<div>
    <h2>Get Started</h2>
    <p>Choose your role:</p>
    <div>
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
        <a href="/jobseeker_login">
            <button>Job Seeker</button>
        </a>
        <a href="/employer_login">
            <button>Employer</button>
        </a>
    </div>
</div>

{% endblock %}